//app

.app {
    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $app;
        
    }

    &-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1.6rem 2.4rem;

        &-left, &-right, &-center {
            display: flex;
            align-items: center;
        }

        &-left {
            flex-grow: 1;
        }

        &-right {
            margin-left: 1rem;
        }

        &-center{
            flex-grow: 2;
        }
    }

    &-icon{
        width: 5rem;
        height: 5rem;
        border-radius: 0.4rem;
    }
    &-name{
        color: $main;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin: 1.2rem 8rem;
    }
    &-content{
        display: flex;
        height: 100%;
        overflow: hidden;
        padding: 1.6rem 2.4rem 2.4rem 0;
    }
}

.icon{
    &-logo{
        width: 5rem;
        height: 5rem;
        border-radius: 0.4rem;
        position: absolute;
    }
    &-search{
        width: 2rem;
        height: 2rem;
    }
    &-switch{
        width: 3rem;
        height: 3rem;
    }

    &-contact{
        width: 3rem;
        height: 3rem;
    }
}

.search {
    &-wrapper{
        border-radius: 2rem;
        background-color: $linkActive;
        padding-right: 1.2rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 480px;
        color: $darkSecondary;
        box-shadow: 0 0.2rem 0.6rem 0 rgba(136, 148, 171, 0.2), 0 2.4rem 2rem -2.4rem rgba(71, 82, 107, 0.1);
        overflow: hidden;
    }

    &-input{
        border: none;
        flex: 1;
        outline: none;
        height: 100%;
        padding: 0 2rem;
        font-size: 1.6rem;
        background-color: $linkActive;

        ::placeholder{
            color: $main;
            opacity: 0.6;
        }
    }
}

.switch-btn{
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.contact-btn{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    
}

.data-section{
    position: relative;
    background-color: $linkActive;
    border-radius: 3rem;
    padding: 3rem 3rem 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-header{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        color: $main;
        
    
        p{
            font-size: 2.5rem;
            line-height: 3rem;
            font-weight: 700;
            opacity: 0.9;
            margin: 0;
            color: $main;
        }
    }
}

.pet-section{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: $linkActive;
    padding: 3rem;
    margin: 5rem;
    border-radius: 2rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    flex-wrap: wrap;
    
    .pet-close {
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 3;
        border: none;
        background-color: transparent;
        color: var(--main-color);
        display: none;
    }
      
    &.show {
        transform: translateX(0);
        opacity: 1;
        margin-left: 0;
    }
    
    .data-section-header{
        padding: 5rem;
    }
    
    .pet-box{
        border-top: 0.1rem solid #e9ebf0;
        padding: 1.5rem;
        display: flex;
        
        &-icon{
            border-radius: 50%;
            object-fit: cover;
            width: 4rem;
            height: 4rem;
        }
    }
}

.pet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .name {
        font-size: 1.5rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $main;
        margin: 0;
    }
}

.pet-content {
    padding-left: 1.6rem;
    width: 100%;
}

.pet-data{
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: 0.7;
}

.data-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;



    .data-box-content-header{
        order: 1;
        p{
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .data-box-header{
        order: 2;
    }
}

.data-box{
    border-radius: 1rem;
    padding: 10rem;
    background-color: $main;

    &-header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
        color: $main;
    }

    &-content-header {
        text-align: center;
        margin-bottom: 1.5rem;
        p{
            margin: 0;
        }
    }
}

.box-content-header {
    font-size: 16px;
    font-weight: 700;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-header{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5px;
    margin: 0;
  }

.result-section{
    flex-grow: 1;
    display:flex;
    background-color: $linkActive;
    border-radius: 3rem;
    margin: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100vw;
}