//app

.app {
    &-container{

        display: flex;
        flex-direction: column;
        background-color: $app;
        
    }

    &-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1.6rem 2.4rem;

        &-left, &-right, &-center {
            display: flex;
            align-items: center;
        }

        &-left {
            flex-grow: 1;
        }

        &-right {
            margin-left: 1rem;
        }

        &-center{
            flex-grow: 2;
        }
    }

    &-icon{
        width: 5rem;
        height: 5rem;
        border-radius: 0.4rem;
    }
    &-name{
        color: $main;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin: 1.2rem 8rem;
    }
}

.icon{
    &-logo{
        width: 5rem;
        height: 5rem;
        border-radius: 0.4rem;
        position: absolute;
    }
    &-search{
        width: 2rem;
        height: 2rem;
    }
    &-switch{
        width: 3rem;
        height: 3rem;
    }

    &-contact{
        width: 3rem;
        height: 3rem;
    }
}

.search {
    &-wrapper{
        border-radius: 2rem;
        background-color: $linkActive;
        padding-right: 1.2rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 480px;
        color: $darkSecondary;
        box-shadow: 0 0.2rem 0.6rem 0 rgba(136, 148, 171, 0.2), 0 2.4rem 2rem -2.4rem rgba(71, 82, 107, 0.1);
        overflow: hidden;
    }

    &-input{
        border: none;
        flex: 1;
        outline: none;
        height: 100%;
        padding: 0 2rem;
        font-size: 1.6rem;
        background-color: $linkActive;

        ::placeholder{
            color: $main;
            opacity: 0.6;
        }
    }
}

.switch-btn{
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.contact-btn{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    
}

//seccion resultado de la consulta

.result-container{
    
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    
    }
    
.data-container{
    width: 45%;
    height: 50vh;
    background-color: white;
    border-radius: 2rem;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 0;
    h3{
        font-size: 2rem;
        padding: 0 0 5rem;
    }

}

.pet-container{
    width: 35vw;
    height: 100%;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-right: 10rem;
    margin-left: 0;

    h3{
        font-size: 3rem;
    }

    button{
        display: flex;
        float: left;
        
    }

}
